pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="project">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="modelVersion" type="xs:string" />
				<xs:element name="groupId" type="xs:string" />
				<xs:element name="artifactId" type="xs:string" />
				<xs:element name="version" type="xs:string" />
				<xs:element name="packaging" type="xs:string" />
				<xs:element name="properties">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="maven.compiler.source" type="xs:string" />
							<xs:element name="maven.compiler.target" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="modules">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="module" type="xs:string" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="dependencies">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="dependency">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="groupId" type="xs:string" />
										<xs:element name="artifactId" type="xs:string" />
										<xs:element name="version" type="xs:string" />
										<xs:element name="scope" type="xs:string" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="build">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="plugins">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="plugin">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="groupId" type="xs:string" />
													<xs:element name="artifactId" type="xs:string" />
													<xs:element name="version" type="xs:string" />
													<xs:element name="configuration">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="skipTests" type="xs:string" />
																<xs:element name="includes">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="include" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="profiles">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="profile" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="id" type="xs:string" />
										<xs:element name="properties">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="database.url" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>